@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;800&display=swap');


.App {
  min-height: calc(90vh - 80px);
}
header {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
}

body {
  min-height: 100vh;
  background-color: #FFF4F4;
  font-family: 'Catamaran', sans-serif;
}

.landingPage {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;
}

span {
  color: #F54748;
}
#root > div > div.landingPage > div > p {
  color: #707070;
  font-size: 100%;
}

#root > div > div.landingPage > div > h3 {
  font-size: 4vw;
  color: #2f1808;

}
.firstPage {
  width: 40%;
  height: 100%;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: #F54748;
  border: none;
  border-radius: 18%;
  padding: 10px 20px;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-weight: bolder;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em;
  padding: 1em;
  justify-items: center;
  justify-content: center;
}

.itemRecipe {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  padding-top: 10%;
  cursor: pointer;
  width: 80%;
  color: #707070;
  
}
.itemRecipe:hover {
  box-shadow: 0.25em 0.25em 0.50em rgba(0, 0, 0, .15),
              0.125em 0.125em 0.12em rgba(0, 0, 0, .5);
}

.imgRecipes {
  width:  70%;
	object-fit: cover;
  border-radius: 5%;
}

h4 {
  color: #2f1808;
}

h4:hover {
  color: #F54748;
}



@media only screen and (max-width: 650px) {
  .detailsPage{
    flex-direction: column;
  }
}

.detailsPage {
  padding: 5%;
  display: flex;
  justify-content: space-around;
}

.detailsPage h2 {
  color: #F54748;
  font-size: 5vh;
  margin-top: 0px;
}

.detailsPage h3 {
  color: #2f1808;
  font-size: 4vh;
}

.detailsImg {
  display: inline-grid;
  padding-top: 100px;
  place-items: center;
}


.myButton {
	box-shadow:inset 0px -1px 0px -4px #f5978e;
	background:linear-gradient(to bottom, #f24537 5%, #f54747 100%);
	background-color:#f24537;
	border-radius:8px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#fff4f4;
	font-size:18px;
	font-weight:bold;
	padding:11px 16px;
	text-decoration:none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f54747 5%, #f24537 100%);
	background-color:#f54747;
}
.myButton:active {
	position:relative;
	top:1px;
}

.linkRecipe {
  color: #2f1808;
}
.linkRecipe:hover {
  color: #f54747;
}

.linkRecipe:visited {
  color: #707070;
}

footer {
  background-color: #F54748;
  color:#FFF4F4;
  padding: 2em;
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}

footer a {
  color: #FFF4F4;
}